<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Vue Dischi Musicali</title>
  </head>
  <body>

    <div id='root'>
      <div class="wrapper">
        <!-- Wrapper Head -->
        <div class="wrapper-head">
          <img src="img/Spotify_logo.png" alt="Spotify Logo">
          <select v-model='selectedValue'>
            <option v-for='(genres, index) in myGenres'> {{ myGenres[index] }}</option>
          </select>
        </div>
        <!-- Wrapper Body -->
        <div class="wrapper-body">

          <div v-if='selection(index)' v-for='(discs,index) in myDiscs' class="disc-set">
            <img :src="myDiscs[index].poster" alt="Albums">
            <h3 class='title'> {{ myDiscs[index].title }} </h3>
            <div class='author'> {{ myDiscs[index].author  }} </div>
            <div class='year'> {{ myDiscs[index].year }} </div>
          </div>

          

        </div>
      </div>
      

      
    </div>

    
    <!-- Script -->
    <script type="text/javascript" src="javascript/main.js"></script> 
    <!-- Script -->
  </body>

</html>

